*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vw;
    font-family:monospace;
    padding: 10em 10em;
    background-color:rgb(115, 85, 143) ;
    opacity: 0.5;
    background-position:center;
    background-repeat: no-repeat;
    background-position: 100% 20%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.glass{
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: #fff;
    border-radius: 9px;
    backdrop-filter: blur(50px);/* ver  */
    border: 2px solid transparent;
    background-clip: border-box; /* ver */
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5; /* ver */
    transform:  translateY(-5%);
    transition: transform 0.5s;
}
.glass-1{
    width: 500px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    color: rgb(122, 82, 82);
    border-radius: 9px;
    backdrop-filter: blur(50px);/* ver  */
    border: 2px solid transparent;
    background-clip: border-box; /* ver */
    box-shadow: 10px 10px 10px rgba(45, 55, 68, 0.3);
    line-height: 1.5; /* ver */
    transform:  translateY(-5%);
    transition: transform 0.5s;
    font-size: 1.7rem;
}
.glass-1 h1{
    font-size: 1.5rem;
    text-align: center;
}

